body
{
    margin: 0;
    box-sizing: border-box;
    width: auto;
}

.bodyImg
{
    position: relative;
    background: rgba(0, 0, 0, 0.8) url(./img/Photo\ \(4\).svg);
    width: 1910px;
    background-blend-mode: darken;
    height: 1210px;
}

header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;


}

.logo
{
    
    display: flex;
    align-items: center;
}

.logo h1
{
    margin-left: 20px;
    color:white ;
    letter-spacing: 1px;
    font-family: monospace;
}

.logoimg
{

    width: 57px;
    height: 57px;
    background-color:  #ed6950;
    border-radius: 10px;
    margin-left: 40px;
}

.logotitle
{
    font-size: 30.5px;
    line-height: 2.30px;
    color: #edebe6;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
    filter: drop-shadow(0 0 62.5px rgba(141,148,169,0.25));
    
}

nav ul 
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 40px;
    
}

nav ul li
{
    list-style: none;
    padding: 0 25px;
}

nav ul li a
{
    text-decoration: none;
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 93px;
    color: white;
    font-weight: 700;
    font-family: "Montserrat";
    font-family: monospace;
}

nav ul  i
{
    color: #ed6950;
    font-size: 20px;
    cursor: pointer;
}

/* body title */

.bodyTitle
{
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translate(-50%);
    height: auto;
    width: 500px;
    
}

.love
{
    font-size: 60px;
    color: white;
    padding: 0 15px;
    margin-bottom: 5px;
    text-align: center;
    font-family: monospace;
}

.poland
{
    font-size: 70px;
    letter-spacing: 1.5px;
    color: #ed6950;
    margin-top: 5px;
    text-align: center;
    font-family: monospace;
    margin-bottom: 5px;
}

.paragraf
{
    font-size: 16px;
    text-align: center;
    font-family: monospace;
    font-weight: 700;
    color: grey;
}

.btn
{
    margin-left: 150px;
    margin-top: 20px;
    width: 180px;
    height: 50px;
    background-color:#ffc74a;
    color: grey;
    font-family: monospace;
    font-weight: 700;
    border: none;
    border-radius: 40px;
    font-size: 14px;
    cursor: pointer;

}

.discover
{
    font-size: 20px;
    text-align: center;
    font-family: monospace;
    font-weight: 700;
    color: white;
    margin-top: 250px;
    letter-spacing: 1px;
}

/* display grid */

.d-grid
{
    position: absolute;
    bottom: -130px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 50px;
    width: 1915px;
    gap: 10px;
}

.d-grid img
{

    width: 370px;
    height: 432px;
}

.zakopane
{
    position: relative;
}

.zak-title
{
    color: white;
    position: absolute;
    font-family: monospace;
    letter-spacing: 1px;
    font-weight: 900;
    font-size: 30px;
    left: 500px;
    top: 300px;
}

.matopolskie
{
    color: #ffc74a;
    position: absolute;
    font-family: monospace;
    letter-spacing: 1px;
    font-weight: 900;
    left: 520px;
    top: 340px;
}

.sandomiers
{
    color: white;
    font-size: 40px;
    position: absolute;
    font-family: monospace;
    letter-spacing: 1px;
    font-weight: 700;
    left: 835px;
    top: 190px;
}

.swiet
{
    color: white;
    position: absolute;
    font-family: monospace;
    font-weight: 800;
    letter-spacing: 1px;
    left: 885px;
    top: 260px;
}

.sopot
{
    color: white;
    font-size: 40px;
    position: absolute;
    font-family: monospace;
    letter-spacing: 1px;
    font-weight: 700;
    left: 1275px;
    top: 280px;
}

.offer
{
    position: absolute;
    width: 215px;
    height: 50px;
    background-color:#ffc74a ;
    border: none;
    border-radius: 40px;
    color: grey;
    font-size: 17px;
    font-family: monospace;
    font-weight: 800;
    left: 850px;
    top: 340px;
    cursor: pointer;
}

.morskie
{
    color:#ffc74a;
    position: absolute;
    font-family: monospace;
    letter-spacing: 1px;
    font-weight: 700;
    left: 1295px;
    top: 340px;
}

/* search-title */

.container
{
    padding: 0px 385px;
    background-color: rgb(236, 233, 233);
    height: 1290px;
    width: 1146px;
    
}

.search-title
{

    padding: 0 170px 0 125px;
    position: absolute;
}

.search-title h1
{
    margin-top: 275px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 92px;
    color: #606f81;
    font-weight: 700;
    font-family: monospace;
    

}

.search-title input
{
    height: 65px;
    padding: 9px 660px 9px 30px;
    border-radius: 40px;
    border: none;
    font-size: 18px;
    letter-spacing: 0.5px;
    font-family: monospace;
    font-weight: 700;
}

.search-title i
{
    position: absolute;
    right: 200px;
    top: 420px;
    font-size: 20px;
    color: #ffc74a;
    cursor: pointer;
}

.flex
{
    display: flex;
    margin-top: 20px;
}

.traivel
{
    width: 260px;
    height: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    
}

.traivel button
{

    border: none;
    border-radius: 40px;
    font-size: 15px;
    font-family: monospace;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: #8c96a1;
    color: white;
    cursor: pointer;
}

.traivel .journey
{
    background-color: #ffc74a;
}

.traivel-2
{

    width: 260px;
    height: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-left: 380px;
}

.traivel-2 button
{
    border: none;
    border-radius: 40px;
    font-size: 15px;
    font-family: monospace;
    font-weight: 700;
    letter-spacing: 1px;
    border: 1px solid #8c96a1;
    color: #8c96a1;
    cursor: pointer;
}

/* city-grid */

.city-grid
{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 30px;
    top: 1770px;
}

.one
{
    width: 360px;
    height: 350px;
    background-color: rgb(243, 240, 240);
    border-radius: 5px;
}

.one img
{
    padding: 5px;
}

.one h1
{
    text-align: center;
    font-family: monospace;
    letter-spacing: 1px;
    font-size: 30px;
    color: gray;
    margin-bottom: 0;
}

.one h5
{
    text-align: center;
    font-family: monospace;
    letter-spacing: 1px;
    color: gray;
    margin-top: 0;
}

.one button
{
    height: 35px;
    width: 160px;
    background-color: rgb(241, 234, 234);
    border: none;
    border-radius: 40px;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: monospace;
    color: gray;
    margin: 0 100px;
    cursor: pointer;
}

.secend
{
    width: 360px;
    height: 350px;
    background-color: rgb(243, 240, 240);
    border-radius: 5px;
}

.secend img
{
    padding: 5px;
}

.secend h1
{
    text-align: center;
    font-family: monospace;
    letter-spacing: 1px;
    font-size: 30px;
    color: gray;
    margin-bottom: 0;
}

.secend h5
{

    text-align: center;
    font-family: monospace;
    letter-spacing: 1px;
    color: gray;
    margin-top: 0;
}

.secend button
{
    height: 35px;
    width: 160px;
    background-color:#ffc74a;
    border: none;
    border-radius: 40px;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: monospace;
    color: gray;
    margin: 0 100px;
    cursor: pointer;
}

.selection
{
    position: absolute;
    height: 900px;
    width: 100%;
    background-color: #e9eaec;
}

.padding
{
    padding: 0 385px;
    width: 1200px;
    height: 920px;
}

.padding h1
{
    font-size: 30px;
    letter-spacing: 0.5px;
    line-height: 93px;
    color: #606f81;
    font-weight: 700;
    font-family: monospace;
    text-align: center;
    
}

.flexx
{
    margin-top: 70px;
    display: grid;
    width: 1176px;
    grid-template-columns: repeat(2, 1fr);
    
    
}

.box h1
{
    font-size: 36px;
    letter-spacing: 0px;
    line-height: 93px;
    color: #f8c759;
    font-weight: 700;
    font-family: monospace;
    text-align: start;
    padding-top: 45px;

}

.box p
{
    width: 559px;
    height: 366px;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 30px;
    color: #606f81;
    font-weight: 400;
    font-family: monospace;
    margin-bottom: 0;
}

.box button
{
    height: 50px;
    width: 210px;
    border: none;
    border-radius: 40px;
    background-color: #f8c759;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #606f81;
    cursor: pointer;
    margin-top: 60px;

}

.box-2 img
{
    width: 570px;
    height: 555px;
    margin-top: 80px;
}

.selection-2
{
    position: absolute;
    height: 645px;
    width: 1920px;
    top: 3400px;
}

.selection-2 h1
{
    position: absolute;
    font-size: 92px;
    line-height: 92px;
    color: #ffffff;
    font-weight: 700;
    font-family: monospace;
    bottom: 340px;
    left: 50%;
    transform: translate(-50%);
}

.selection-2 button
{
    position: absolute;
    width: 155px;
    height: 50px;
    border-radius: 40px;
    border: none;
    background-color: #f8c759;
    font-size: 17px;
    letter-spacing: 0.5px;
    font-family: monospace;
    font-weight: 700;
    color: #606f81;
    bottom: 270px;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
}

.selection-2 h4
{
    font-family: monospace;
    letter-spacing: 0.5px;
    position: absolute;
    bottom: 140px;
    left: 50%;
    transform: translate(-50%);

    font-size: 18px;
    line-height: 93px;
    color: #ffffff;
    font-weight: 400;
}

.selection-2 a
{
    color: #f8c759;
    font-family: monospace;
}

/* selectio-3 */

.selection-3
{
    position: absolute;
    height: 496px;
    width: 100%;
    top: 4000px;
    background-color: #d3d5d6;
}

.selection-3 img
{
    height: 60px;
    width: 50px;
    margin-top: 165px;
    margin-left: 50%;
    transform: translate(-50%);
    background-color: #ed6950;
    border-radius: 10px;
}

.selection-3 h1
{
    font-family: monospace;
    margin-top: 30px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #606f81;
}
